{% extends "base.html" %} {% block content %}
<!-- Add Modal opening button -->
<button
  id="open-add-button"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#add-task-modal"
>
  Add Task
</button>

<!-- Add modal -->
<div
  class="modal fade"
  id="add-task-modal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">Add Task</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action={% url "add" %} method="post">
          {% csrf_token %} 
          <label for="id_title">
            Title:
          </label>
        </br>
          {{ form.title }}
        </br>
          <label for="id_desc">
            Description:
          </label>
        </br >
          {{ form.desc }}
        </br>
          <input
            class="btn btn-primary mt-3"
            id="confirm-add-button"
            type="submit"
            value="Add"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Tasks Table -->
<table id="todos-table" class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Task</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>
        <a id="details-button" href={% url 'details' task.id %}>
          {{ task.title }}
        </a>
      </td>
      <td>
        <form action={% url "complete" task.id %} method="post">
          {% csrf_token %}
          <input type="checkbox" name="completed" onchange="this.form.submit()" id="check-button" {% if task.completed %}checked{% endif %} value="true">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Checked Table -->
<table id="checked-table" class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Done</th>
    </tr>
  </thead>
  <tbody>
    {% for task in completed %}
    <tr>
      <td>
        <a id="details-button" href={% url 'details' task.id %}>
          {{ task.title }}
        </a>
      </td>
      <td>
        <form action={% url "complete" task.id %} method="post">
          {% csrf_token %}
          <input type="checkbox" name="completed" onchange="this.form.submit()" id="check-button" {% if task.completed %}checked{% endif %} value="true">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
