{% extends "base.html" %} {% block content %}
<!-- Add Modal opening button -->
<button
  id="open-add-button"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#add-task-modal"
>
  Add Task
</button>

<!-- Add modal -->
<div
  class="modal fade"
  id="add-task-modal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">Add Task</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action={% url "add" %} method="post">
          {% csrf_token %} {{ form }}
          <input
            class="btn btn-primary mt-3"
            id="confirm-add-button"
            type="submit"
            value="Add"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Tasks Table -->
<table id="todos-table" class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>
        <a id="details-button" href="{% url 'details' task.id %}">
          {{ task.title }}
        </a>
      </td>
      <td>{% if task.completed %}Completed{% else %}Pending{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
